@import 'variables.less'; 
.users-app-container{

  max-width: 100%;
  max-height: 100%;
  min-width: 300px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  margin-bottom: 5px;
  padding: 20px;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}
.users-container{
  display: grid;
  grid-gap:20px;
  grid-template-columns: 1fr 1fr 1fr; 
}

.pages {
  
    margin: 20px;
    align-self: center;
    .page, .current-page {
      
      border: 1px solid lightgray;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 0 10px;
      position: relative;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    .current-page {
      border: 2px solid lightgray;
      font-weight: 500;
    }
    .page:hover {
      box-shadow: 2px 2px rgba(57, 57, 57, 0.3);
      top: -2px;
      left: -2px;
    }
    .current-page {
      
      font-weight: 700;
    }
  }

  .alert{
    height: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgb(230, 185, 185);
    color: red;
    border-radius: 20px;
  }

  @media (max-width: @laptop) {
    .users-container{
      margin: 0 auto;
      grid-gap:20px;
      grid-template-columns:1fr 1fr; 
    }
  }

  @media  (max-width: @tablet) {

    .users-container{
      margin: 10px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
      
    }
  }

 